<form>
  <input type="text" class="name" id="userName" placeholder='Ваше имя (для обращения к Вам)'>
  <input type="text" class="phone" id="userPhone" placeholder='Ваш телефон для связи'>
  <a class="btn btn_blue send_form" id="sendMainButton" onclick="sendMainOrder();">
    Отправить
  </a>
</form>