@font-face {
  font-family: 'Roboto Condensed Light';
  src: asset_url('RobotoCondensedLight.ttf')
}

@font-face {
  font-family: 'Roboto Condensed';
  src: asset_url('RobotoCondensedRegular.ttf')
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: asset_url('RobotoCondensedBold.ttf')
}

a.logo img {
  margin-bottom: -10px;
}

.ui.container, .ui.header {
  font-family: "Roboto Condensed Light";
}
.ui.header {
  font-weight: 100;
}

.item a.logo img {
  width: 200px;
}

.item.phone {
  font-size: 18px;
}

.three.wide.column img {
  width: 130%;
}

.ui.grid.padding {
  padding-left: 10%;
}

.ui.horizontal.divider.main-header {
  font-size: 30px;
  line-height: 50px;
  font-weight: 100;
}

.ui.secondary.pointing.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: white;
  .item {
    font-size: 18px;
  }
}

.ui.secondary.pointing.menu a.item:hover {
  background-color: transparent;
  box-shadow: none;
  border-color: #8e8e8e;
}

.ui.center.aligned {
  text-align: center;
}

.ui.list {
  margin-left: 35px;
}

.brizer-description {
  font-size: 18px;
  text-align: center;
}

h2.ui.header i.icon.ruble {
  font-size: 22px;
  vertical-align: top;
}

.four.wide.column.center.aligned img {
  width: 85%;
}

.four.wide.column.center.aligned img.icon100 {
  width: 35%;
}
.eight.wide.column.center.aligned img.icon200 {
  width: 85%;
}

.four.wide.column.center.aligned p.short-description {
  margin-top: -10px;
  margin-bottom: 10px
}

p.medium-description {
  font-size: 17px;
}

button.ui.primary.button.ordermodal {
  width: 80%;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {

  .ui.container {
    width: 97% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .ui.container {
    width: 97% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .item a.logo img {
    width: 150px;
    margin-left: -15px;
    margin-right: -20px;
  }
  .ui.secondary.pointing.menu .item {
    font-size: 1.03em;
    padding: 15px;
  }
  .ui.list {
    margin-left: 10px;
  }
  .ten.wide.column .ui.left.floated, .ten.wide.column .ui.right.floated {
    font-size: 22px;
  }
  .ui.black.big.launch.right.attached.fixed.button {
    display: inline-block !important;
    height: 100px !important;
    padding: 40px !important;
    position: fixed;
    width: 100%;
    background: white;
    color: #4183C4;
    font-size: 30px;
    top: 0;

    .item.phone {
      float: right;
      font-size: 26px;
    }
  }
  .ui.sidebar.vertical.menu {
    width: 50%;
    .item {
      font-size: 24px !important;
    }
  }
  .ui.secondary.pointing.menu {
    display: none;
  }
  .three.wide.column.top-brizer-description {
    width: 10% !important;
  }
  .three.wide.column.top-main-brizer-description {
    width: 80% !important;
  }

  #goods{
    img {
      width: 40%;
    }
    .rdescription {
      width: 60%;
    }
  }
  #inside {
    clear: both;
    .ldescription {
      width: 50%;
    }
    img {
      width: 50%;
    }
  }

  .pusher .ui.container {
    margin-top: 110px;
    img.banner {
      margin-top: -10px;
      margin-bottom: -17px;
    }
  }

  .content p {
    font-size: 20px;
    .content1-ins {
      margin: 0;
    }
  }
  .t1 img {
    display: none;
  }
  p.client {
    font-size: 22px !important;
    float: right !important;
    text-align: right !important;
  }
  td.c3i {
    padding: 24px;
    text-align: justify;
  }

}

.ui.segment {
  border: none;
  box-shadow: none;
}

.banner {
  width: 100%;
  margin-top: 40px;
  margin-bottom: -15px;
}

.slim-header {
  font-weight: 100;
}

.ui.tabular.menu .item {
  width: 17%;
  display: inline-block;
  text-align: center !important;
}

.ui.top.attached.tabular.menu a.item {
  padding-top: 105px;
  background-size: 50% !important;
  border: none;
  &:hover, &.active {
    color: #4183C4;
  }
}

.ui.top.attached.tabular.menu a.item.duhota {
  background: asset_url('gas-mask-black.png') top center no-repeat;
}

.ui.top.attached.tabular.menu a.item.duhota:hover, .ui.top.attached.tabular.menu a.item.duhota.active {
  background: asset_url('gas-mask.png') top center no-repeat;
}

.ui.top.attached.tabular.menu a.item.skvoznyak {
  background: asset_url('umbrella-black.png') top center no-repeat;
}

.ui.top.attached.tabular.menu a.item.skvoznyak:hover, .ui.top.attached.tabular.menu a.item.skvoznyak.active {
  background: asset_url('umbrella.png') top center no-repeat;
}

.ui.top.attached.tabular.menu a.item.shum {
  background: asset_url('megaphone-black.png') top center no-repeat;
}

.ui.top.attached.tabular.menu a.item.shum:hover, .ui.top.attached.tabular.menu a.item.shum.active {
  background: asset_url('megaphone.png') top center no-repeat;
}

.ui.top.attached.tabular.menu a.item.allergia {
  background: asset_url('virus-black.png') top center no-repeat;
}

.ui.top.attached.tabular.menu a.item.allergia:hover, .ui.top.attached.tabular.menu a.item.allergia.active {
  background: asset_url('virus.png') top center no-repeat;
}

.ui.top.attached.tabular.menu a.item.bad-ecology {
  background: asset_url('ecology-black.png') top center no-repeat;
}

.ui.top.attached.tabular.menu a.item.bad-ecology:hover, .ui.top.attached.tabular.menu a.item.bad-ecology.active {
  background: asset_url('ecology.png') top center no-repeat;
}

.ui.top.attached.tabular.menu a.item.vlazhnost {
  background: asset_url('water-drop-black.png') top center no-repeat;
}

.ui.top.attached.tabular.menu a.item.vlazhnost:hover, .ui.top.attached.tabular.menu a.item.vlazhnost.active {
  background: asset_url('water-drop.png') top center no-repeat;
}

.ui.list > .item .description {
  width: 100%;
}

.two.wide.column.center.aligned img.icon100 {
  width: 65%;
}

.seven.wide.column.right.aligned, .seven.wide.column.left.aligned {
  padding-top: 23px;
}

h4.ui.header.maheader {
  margin-top: 0px;
}

.ui.list.malist {
  margin-left: 70px;
  text-align: left;
  padding-bottom: 35px;
}

h2.ui.header.ma2header {
  font-size: 2.714rem;
}

.wrapper.bottom-margin {
  margin-bottom: 2em;
}

.ui.segment.main-container.contacts-container {
  margin-top: 60px;
}

.ui.list.contact-list {
  font-size:18px;
}

.popup-gallery img {
  width: 11.5%;
  margin: 15px;
  vertical-align: middle;
}

.ten.wide.column .ui.left.floated, .ten.wide.column .ui.right.floated {
  font-size: 18px;
}

.ui.segment.footer-container {
  height: 75px;
  .phone-footer {
    float: right;
    font-size: 24px;
    margin-top: -45px;
  }
  .footer-logo img{
    width: 240px;
    margin: 10px 300px;
  }
}