/* fonts */

@font-face {
  font-family: 'OpenSans Rg';
  src: asset_url('OpenSans-Regular.ttf')
}
@font-face {
  font-family: 'OpenSans Bold';
  src: asset_url('OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'OpenSans Semibold';
  src: asset_url('OpenSans-Semibold.ttf');
}
@font-face {
  font-family: 'OpenSans Extrabold';
  src: asset_url('OpenSans-ExtraBold.ttf');
}
@font-face {
  font-family: 'OpenSans Light';
  src: asset_url('OpenSans-Light.ttf');
}
html,
body {
  margin: 0px;
  padding: 0px;
}
ul,
menu {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ol {
  margin: 0px;
  padding: 0px;
}
A {
  outline: none;
  color: #fff;
  text-decoration: none;
  transition: all 300ms ease 0s
}
A img {
  outline: none;
  border: none;
}
.disabled {
  display: none;
}
/* header */

header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-width: 1200px;
  height: 100px;
  text-align: left;
}
header .logo,
header .header_info,
header .call {
  display: inline-block;
  vertical-align: top;
}
header .logo {
  margin: 0px;
  padding: 30px 25px 0px 0px;
}
header .header_info {
  margin: 0px;
  padding: 18px 0px 0px 0px;
  text-align: left;
  font: 20px 'OpenSans Light', sans-serif;
  color: #000;
}
header .header_info span {
  font: 24px 'OpenSans Extrabold', sans-serif;
  color: #0d404f;
  text-transform: uppercase;
}
header .call {
  margin: 0px;
  padding: 12px 0px 0px 0px;
  width: 215px;
  text-align: center;
  font: 24px/40px 'OpenSans Bold', sans-serif;
  color: #000000;
  float: right;
}
header .call a {
  color: #000000;
}
/* footer */

footer {
  margin: 60px 0px 0px;
  padding: 0px;
  width: 100%;
  min-width: 1200px;
  height: 100px;
  text-align: left;
}
footer .logo,
footer .footer_info,
footer .call {
  display: inline-block;
  vertical-align: top;
}
footer .logo {
  margin: 0px;
  padding: 30px 25px 0px 0px;
}
footer .footer_info {
  margin: 0px;
  padding: 18px 0px 0px 0px;
  text-align: left;
  font: 20px 'OpenSans Light', sans-serif;
  color: #000;
}
footer .footer_info span {
  font: 24px 'OpenSans Extrabold', sans-serif;
  color: #0d404f;
  text-transform: uppercase;
}
footer .call {
  margin: 0px;
  padding: 12px 0px 0px 0px;
  width: 215px;
  text-align: center;
  font: 24px/40px 'OpenSans Bold', sans-serif;
  color: #000000;
  float: right;
}
footer .call a {
  color: #000000;
}
section.copy {
  background: #46555f;
}
section.copy p {
  margin: 15px 0px 30px;
  padding: 0px;
  font: 20px 'OpenSans Rg', sans-serif;
  color: #fff;
  text-transform: uppercase;
}
section.copy p img {
  height: 50px;
  vertical-align: bottom;
}
/* section */

section {
  margin: 0px auto;
  padding: 0px;
  width: 100%;
  min-width: 1200px;
  text-align: center;
}
section.head {
  background: asset_url('head.jpg') no-repeat 50% 0;
  height: 867px;
  text-align: left;
  margin-top: 55px;
}
section.sale {
  margin: -55px 0px 0px 0px;
  background: asset_url('sale.png') no-repeat 50% 0;
  height: 704px;
}
section.window {
  margin: -120px 0px 0px 0px;
}
section.decision {
  background: asset_url('decision.jpg') no-repeat 50% 0;
  height: 698px;
}
section.about {
  background: asset_url('about.jpg') no-repeat 50% 0;
  height: 814px;
}
section.video {
  height: 800px;
}
section.spider {
  background: asset_url('spider.jpg') no-repeat 50% 0;
  height: 2108px;
}
section.clients {
  height: 630px;
}
section.why {
  background: asset_url('why.jpg') no-repeat 50% 0;
  height: 814px;
}
section.why2 {
  background: asset_url('why2.jpg') no-repeat 50% 0;
  height: 673px;
}
section.for {
  padding: 0px 0px 60px;
  background: #f6f6f6;
}
section.disease {
  padding: 0px 0px 60px;
}
section.sert {
  background: asset_url('sert.jpg') no-repeat 50% 0;
  height: 568px;
}
section.work {
  background: asset_url('work.jpg') no-repeat 50% 0;
  height: 1278px;
}
section.kol {
  background: asset_url('kol.jpg') no-repeat 50% 0;
  height: 857px;
}
section.diler {
  background: asset_url('diler.jpg') no-repeat 50% 0;
  height: 698px;
}
section.footer {
  background: asset_url('footer.jpg') no-repeat 50% 0;
  height: 607px;
}
.page {
  margin: 0px auto;
  padding: 1px 0px;
  width: 980px;
}
section h1 {
  margin: 70px 0px 30px;
  padding: 0px;
  font: 36px/48px 'OpenSans Rg', sans-serif;
  color: #000000;
}
section h1 span {
  font: 36px/48px 'OpenSans Extrabold', sans-serif;
  color: #0d404f;
}
section h1 span b {
  font: 20px/48px 'OpenSans Extrabold', sans-serif;
}
section h2 {
  margin: 0px 0px 30px 0px;
  padding: 0px;
  font: 30px/45px 'OpenSans Light', sans-serif;
  color: #000000;
  text-transform: uppercase;
}
section h2 span {
  padding: 0px 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.7);
}
section h3 {
  margin: 50px 0px;
  padding: 0px;
  font: 24px 'OpenSans Bold', sans-serif;
  color: #0d404f;
  text-transform: uppercase;
}
section.decision h3,
section.why h3,
section.why2 h3,
section.work h3,
section.diler h3,
section.video h3 {
  color: #fff;
}
section.decision h3,
section.video h3,
section.why h3,
section.why2 h3,
section.for h3,
section.disease h3,
section.sert h3,
section.work h3,
section.how h3,
section.kol h3,
section.diler h3 {
  font-size: 30px;
}
section.how h3 {
  color: #000;
  text-transform: none;
}
section.about h3 {
  font-size: 48px;
  text-transform: none;
}
section h3 span {
  font: 48px/36px 'OpenSans Light', sans-serif;
}
section.how h3 span {
  font: 48px 'OpenSans Light', sans-serif;
  text-transform: uppercase;
}
section h3 b {
  font-size: 20px;
}
section.about h3 b {
  font-size: 30px;
}
section h4 {
  margin: 50px 0px;
  padding: 0px;
  font: 20px 'OpenSans Rg', sans-serif;
  color: #0d404f;
}
section.window h4 {
  display: inline-block;
  width: 320px;
}
section.disease h4 {
  font: 30px 'OpenSans Semibold', sans-serif;
  color: #000000;
}
section h4 span {
  font: 20px 'OpenSans Extrabold', sans-serif;
  text-transform: uppercase;
}
section.head p {
  margin: 30px 0px;
  padding: 0px;
  font: 30px 'OpenSans Rg', sans-serif;
  color: #000000;
}
section.disease p {
  margin: 30px 0px;
  padding: 0px;
  font: 24px 'OpenSans Rg', sans-serif;
  color: #0d404f;
}
section.work p {
  margin: 30px 0px;
  padding: 0px;
  font: 24px 'OpenSans Rg', sans-serif;
  color: #fff;
}
section.footer p {
  margin: 60px 0px;
  padding: 0px;
  font: 30px 'OpenSans Rg', sans-serif;
  color: #0d404f;
}
section.footer p span {
  font: 60px 'OpenSans Light', sans-serif;
  text-transform: uppercase;
}
section .head_banner {
  margin: 130px 0px 0px 490px;
  padding: 118px 0px 0px 285px;
  background: asset_url('head_banner.png') no-repeat;
  width: 205px;
  height: 200px;
  position: absolute;
  font: 16px 'OpenSans Bold', sans-serif;
  color: #fff;
  text-transform: uppercase;
}
section .sale_block {
  margin: 0px 0px 20px;
  padding: 0px;
  background: asset_url('sale_block.png') no-repeat;
  width: 520px;
  height: 80px;
  font: 18px 'OpenSans Bold', sans-serif;
  color: #0d404f;
  text-align: center;
}
section .sale_block span {
  margin: 0px auto 10px;
  padding: 0px 20px;
  display: inline-block;
  font: 20px/36px 'OpenSans Light', sans-serif;
  color: #fff;
  background: #0d404f;
}
section .sale_block b {
  font: 18px 'OpenSans Extrabold', sans-serif;
}
section .window {
  margin: 0px;
  padding: 0px;
  background: asset_url('window.jpg') no-repeat;
  width: 980px;
  min-height: 553px;
  font-size: 0px;
}
section ul.wind1,
section ul.wind2 {
  width: 487px;
  display: inline-block;
  vertical-align: top;
}
section ul.wind1 li {
  margin: 0px 0px 42px;
  padding: 0px;
  background: asset_url('wind_li.png') no-repeat 0px 38px;
  height: 76px;
}
section ul.wind1 li.li2,
section ul.wind1 li.li3,
section ul.wind1 li.li4 {
  background: asset_url('wind_li_small.png') no-repeat 0px 38px;
}
section ul.wind1 li span {
  position: relative;
  font: 20px 'OpenSans Rg', sans-serif;
  color: #000000;
  text-transform: uppercase;
}
section ul.wind1 li span {
  poaition: relative;
}
//section ul.wind1 li.li2 span {
//    margin: -5px 0px 0px -15px;
//}

section ul.wind1 li.li3 span {
  margin-left: -4px;
  top: -25px;
}

section ul.wind1 li.li4 span {
  top: -25px;
}
//section ul.wind1 li.li5 span {
//    margin: -5px 0px 0px -40px;
//}
section ul.wind1 li img {
  float: right;
}
section ul.wind1 li.li1 img {
  margin: 0px 155px 0px 0px;
}
section ul.wind1 li.li2 img {
  margin: 0px 250px 0px 0px;
}
section ul.wind1 li.li3 img {
  margin: 0px 280px 0px 0px;
}
section ul.wind1 li.li4 img {
  margin: 0px 250px 0px 0px;
}
section ul.wind1 li.li5 img {
  margin: 0px 155px 0px 0px;
}
section ul.wind2 li {
  margin: 0px 0px 18px;
  padding: 0px;
  background: asset_url('wind_li.png') no-repeat 100% 38px;
  height: 76px;
}
section ul.wind2 li.li2,
section ul.wind2 li.li3,
section ul.wind2 li.li4,
section ul.wind2 li.li5 {
  background: asset_url('wind_li_small.png') no-repeat 100% 38px;
}
section ul.wind2 li span {
  position: relative;
  font: 20px 'OpenSans Rg', sans-serif;
  color: #000000;
  text-transform: uppercase;
}
section ul.wind2 li span {
  position: relative;
}
//section ul.wind2 li.li2 span {
//    margin: -5px 0px 0px -50px;
//}
//section ul.wind2 li.li3 span {
//    margin: -5px 0px 0px -60px;
//}
section ul.wind2 li.li4 span {
  top: -25px;
}
section ul.wind2 li.li5 span {
  top: -25px;
}
//section ul.wind2 li.li6 span {
//    margin: -5px 0px 0px -50px;
//}
section ul.wind2 li img {
  float: left;
}
section ul.wind2 li.li1 img {
  margin: 0px 0px 0px 155px;
}
section ul.wind2 li.li2 img {
  margin: 0px 0px 0px 240px;
}
section ul.wind2 li.li3 img {
  margin: 0px 0px 0px 275px;
}
section ul.wind2 li.li4 img {
  margin: 0px 0px 0px 275px;
}
section ul.wind2 li.li5 img {
  margin: 0px 0px 0px 240px;
}
section ul.wind2 li.li6 img {
  margin: 0px 0px 0px 155px;
}
section ul.decision {
  font-size: 0px;
}
section ul.decision li {
  margin: 50px 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  width: 244px;
  font: 18px 'OpenSans Rg', sans-serif;
  color: #fff;
}
section ul.decision li img {
  margin: 0px auto 20px;
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #fff;
}
section ul.about {
  margin: 70px 0px 0px 0px;
}
section ul.about li {
  margin: 0px 0px 50px 515px;
  padding: 0px 0px 15px 70px;
  font: 18px 'OpenSans Rg', sans-serif;
  color: #000101;
  text-align: left;
  min-height: 50px;
}
section ul.about li.li1 {
  background: asset_url('about-1.jpg') no-repeat 0 100%;
}
section ul.about li.li2 {
  background: asset_url('about-2.jpg') no-repeat 0 100%;
}
section ul.about li.li3 {
  background: asset_url('about-3.jpg') no-repeat 0 100%;
}
section ul.about li.li4 {
  background: asset_url('about-4.jpg') no-repeat 0 100%;
}
section div.video {
  margin: 0px auto 50px;
  padding: 0px;
  border: 15px solid rgba(255, 255, 255, 0.7);
  width: 950px;
  height: 470px;
}
section ul.clients {
  font-size: 0px;
}
section ul.clients li {
  margin: 0px 2px 45px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
}
section ul.clients li img {
  border: 1px solid #ebebeb;
  transition: all 300ms ease 0s;
}
section ul.clients li:hover img {
  margin: -5px 0px 0px 0px;
}
section ul.comments li {
  margin: 0px 5px 70px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  width: 310px;
}
section ul.comments li iframe {
  margin: 0px 0px 25px 0px;
  border: 10px solid #b6c5ca;
}
section ul.comments li div {
  border-top: 1px solid #3d6672;
}
section ul.comments li div img {
  float: left;
}
section ul.comments li div p {
  margin: 0px;
  padding: 8px 0px 0px 0px;
  font: 18px/24px 'OpenSans Rg', sans-serif;
  color: #000101;
  text-align: center;
}
section ul.comments li div p span {
  text-transform: uppercase;
}
section ul.comments li div p i {
  font: italic 14px/24px 'OpenSans Rg', sans-serif;
}
section ul.why {
  font-size: 0px;
}
section ul.why > li {
  margin: 0px 3px 60px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  width: 220px;
}
section ul.why > li:first-child {
  width: 290px;
}
section ul.why > li p {
  margin: -50px 0px 15px 0px;
  padding: 0px;
  background: rgba(13, 64, 79, 0.7);
  font: 20px/50px 'OpenSans Semibold', sans-serif;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
section ul.why > li li {
  margin: 0px 0px 5px;
  padding: 0px;
  border: 1px solid #fff;
  font: 16px/48px 'OpenSans Rg', sans-serif;
  color: #fff;
}
section ul.why > li li.empty {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  height: 50px;
}
section ul.why > li:first-child li {
  padding: 0px 0px 0px 40px;
  background: asset_url('why-li-li.png') no-repeat 5px 50%;
  text-align: left;
}
section ul.why2 {
  margin: 70px 0px 0px;
  background: asset_url('why2.png') no-repeat;
}
section ul.why2 li {
  margin: 0px 40px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  width: 240px;
  height: 200px;
  font: 18px 'OpenSans Rg', sans-serif;
  color: #fff;
  border-bottom: 1px solid #5baac8;
}
section ul.why2 li:last-child {
  font-size: 14px;
}
section ul.why2 li.line2 {
  border-bottom: none;
}
section ul.why2 li.alt {
  padding: 50px 0px 0px 0px;
  font: 30px 'OpenSans Rg', sans-serif;
  height: 150px;
}
section ul.why2 li.alt span {
  font: 48px 'OpenSans Extrabold', sans-serif;
  text-transform: uppercase;
}
section ul.for {
  margin: 70px 0px 0px;
  background: asset_url('for.jpg') no-repeat;
  height: 730px;
  font-size: 0px;
}
section ul.for li {
  margin: 0px;
  padding: 0px 10px;
  display: inline-block;
  vertical-align: top;
  width: 469px;
  font: 16px 'OpenSans Rg', sans-serif;
  color: #000101;
  text-align: left;
  height: 270px;
}
section ul.for li.alt {
  text-align: right;
}
section ul.for li span {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 15px 0px;
  display: block;
  font: 20px 'OpenSans Bold', sans-serif;
  color: #3ec0ef;
  text-transform: uppercase;
  background: asset_url('for-hr2.png') no-repeat 0 100%;
}
section ul.for li.alt span {
  background: asset_url('for-hr.png') no-repeat 100% 100%;
}
section ul.for li.center span {
  width: 150px;
}
section ul.for li.alt.center span {
  margin: 0px 0px 0px 320px;
}
section ul.disease {
  font-size: 0px;
}
section ul.disease li {
  margin: 0px;
  padding: 0px 15px;
  display: inline-block;
  vertical-align: top;
  width: 295px;
  font: 16px/22px 'OpenSans Rg', sans-serif;
  color: #000101;
  text-align: left;
}
section ul.disease li:nth-child(2) {
  border-left: 1px dashed #b7b7b7;
  border-right: 1px dashed #b7b7b7;
}
section ul.disease li h5 {
  margin: 20px 0px;
  padding: 0px;
  font: 16px 'OpenSans Bold', sans-serif;
  text-align: center;
}
section ul.disease li p {
  padding: 0px 0px 0px 45px;
  background: asset_url('disease-p.jpg') no-repeat 0px 5px;
  font: 14px 'OpenSans Rg', sans-serif;
  color: #000000;
  min-height: 125px;
}
section ul.sert li {
  margin: 0px;
  padding: 21px 0px 0px 0px;
  background: asset_url('sert.png') no-repeat;
  height: 356px;
}
section ul.sert li a {
  margin: 0px 0px 0px 20px;
  position: absolute;
  display: block;
  width: 225px;
  height: 325px;
}
section ul.sert li a img {
  margin: 130px 0px 0px 0px;
  opacity: 0;
  transition: all 300ms ease 0s;
}
section ul.sert li:hover a img {
  opacity: 1;
}
section ul.work1 {
  margin: 0px;
  padding: 120px 0px 0px 0px;
  background: asset_url('work1.png') no-repeat;
  border: 1px solid #fff;
  width: 978px;
  height: 220px;
  font-size: 0px;
}
section ul.work2 {
  margin: 0px 0px 50px 0px;
  padding: 80px 0px 0px 0px;
  background: asset_url('work2.png') no-repeat;
  width: 980px;
  height: 460px;
  font-size: 0px;
}
section ul.work li {
  margin: 0px 0px 30px;
  padding: 0px 29px;
  display: inline-block;
  vertical-align: top;
  width: 430px;
  font: 14px 'OpenSans Rg', sans-serif;
  color: #fff;
  text-align: left;
}
section ul.work li:nth-child(even) {
  text-align: right;
}
section ul.work li span {
  margin: 0px 0px 10px;
  display: block;
  font: 18px 'OpenSans Rg', sans-serif;
  text-transform: uppercase;
}
section ul.how {
  font-size: 0px;
}
section ul.how li {
  margin: 0px;
  padding: 20px 0px;
  display: inline-block;
  vertical-align: top;
  width: 290px;
}
section ul.how li:nth-child(2) {
  margin: 0px 26px;
  padding: 20px 26px;
  border-left: 1px solid #b6c5ca;
  border-right: 1px solid #b6c5ca;
}
section ul.how li span {
  margin: 55px 0px 0px 100px;
  position: absolute;
  font: 20px 'OpenSans Semibold', sans-serif;
  color: #fff;
  text-align: left;
}
section ul.how li p {
  margin: 5px 0px 15px;
  padding: 20px;
  border: 1px solid #0d404f;
  font: 18px 'OpenSans Rg', sans-serif;
  color: #000000;
  text-align: left;
  min-height: 250px;
}
section ul.how li a.btn {
  width: 100%;
  font: 12px/54px 'OpenSans Bold', sans-serif;
  color: #000000;
}
section ul.how li:first-child a.btn {
  padding: 10px 0px;
  font: 12px 'OpenSans Bold', sans-serif;
}
section ul.kol {
  font-size: 0px;
  background: asset_url('kol.png') no-repeat 50% 205px;
}
section ul.kol li {
  margin: 0px 0px 60px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  width: 448px;
  font: 30px 'OpenSans Bold', sans-serif;
  color: #0d404f;
}
section ul.kol li:first-child {
  margin: 0px 80px 0px 0px;
}
section ul.diler li {
  margin: 0px 60px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  border: 6px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
section ul.diler li.alt {
  margin: -50px 60px 60px;
}
section ul.diler li div {
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  height: 190px;
}
section ul.diler li div p {
  margin: 0px;
  padding: 0px;
  font: 24px 'OpenSans Extrabold', sans-serif;
  color: #fff;
}
/* buttons */

input[type="submit"].btn_send, a.btn {
  margin: 0px;
  padding: 0px;
  font: 24px/70px 'OpenSans Semibold', sans-serif;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background: #a3f437;
  text-align: center;
  border-bottom: 5px solid #88d521;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}
a.send_form {
  width: 447px;
}
section.head a.btn,
section.footer a.btn {
  width: 470px;
}
section.head a.btn_to {
  font: 24px/30px 'OpenSans Rg', sans-serif;
}
section.head a.btn_to b {
  font-family: 'OpenSans Extrabold', sans-serif;
}
a.btn_to i {
  font-style: normal;
  font-size: 16px;
}
section.head a.btn_call,
section.footer a.btn_call {
  width: 100%;
}
a.btn:hover {
  background: #88d521;
}
a.btn_call {
  font: 14px/35px 'OpenSans Rg', sans-serif;
  color: #0d404f;
  background: none;
  border: 1px solid #0d404f;
  width: 100%;
  text-transform: none;
}
a.btn_call:hover {
  background: #0d404f;
  color: #fff;
}
a.btn_send, a.btn_white {
  background: none;
  color: #fff;
  border: 1px solid #fff;
}

input[type="submit"].btn_send{
  width: 100%;
  background: #0d4150 !important;
  color: #fff !important;
  border: 2px solid #0d4150;
  margin-top: 15px;
  line-height: 0px;
}
a.btn_send {
  width: 100%;
}
a.btn_white {
  padding: 0px 20px;
}
input[type="submit"].btn_send:hover, a.btn_send:hover, a.btn_white:hover {
  background: #fff !important;
  color: #0d404f !important;
}
a.btn_more {
  margin: 0px 0px 0px 515px;
  color: #0d404f;
  background: none;
  border: 2px solid #0d404f;
  width: 465px;
}
a.btn_more:hover {
  background: #0d404f;
  color: #fff;
}
a.btn_blue {
  padding: 0px 20px;
  color: #fff;
  background: #0d404f;
  border: 2px solid #0d404f;
}
a.btn_blue:hover {
  color: #0d404f;
  background: none;
  border: 2px solid #0d404f;
}
a.btn_to {
  padding: 10px 20px;
  font: 20px/30px 'OpenSans Semibold', sans-serif;
}
.popup_block a.btn_send {
  background: #0d4150;
  color: #fff;
  border: 2px solid #0d4150;
}
.popup_block a.btn_send:hover {
  background: #fff;
  color: #0d4150;
}
/* forms */

.popup_block {
  margin: 0px;
  padding: 10px 55px;
  background: #fff;
  border: 3px solid #0d4150;
}
.form {
  margin: 0px;
  padding: 0px;
  width: 490px;
  text-align: center;
  z-index: 1000;
}
section.sale .form {
  margin: 80px 0px 0px 490px;
}
.form p {
  margin: 0px 0px 20px;
  padding: 0px;
  font: 20px 'OpenSans Light', sans-serif;
  color: #fff;
  text-align: center;
}
.popup_block .form p {
  margin: 0px 0px 10px;
  color: #0d4150;
}
.form p span {
  font: 30px/58px 'OpenSans Bold', sans-serif;
  text-transform: uppercase;
}
.popup_block .form p span {
  font: 24px/38px 'OpenSans Bold', sans-serif;
}
.form p b {
  font: 20px 'OpenSans Semibold', sans-serif;
}
.form b {
  font: 30px/62px 'OpenSans Rg', sans-serif;
  color: #fff;
}
.popup_block .form b {
  color: #000;
}
.form label {
  display: block;
  font: 18px/30px 'OpenSans Rg', sans-serif;
  color: #fff;
}
.popup_block .form label {
  color: #000;
}
.form input {
  margin: 0px 0px 13px 0px;
  padding: 0px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 62px;
  width: 488px;
  border: 1px solid #0d4150;
  font: 18px/62px 'OpenSans Rg', sans-serif;
  color: #949494;
  text-align: center;
}
.popup_block .form input {
  background: #ebebeb;
  color: #000000;
}
.popup_block .form input::-webkit-input-placeholder {
  color: #000000;
}
.popup_block .form input::-moz-placeholder {
  color: #000000;
}
/* Firefox 19+ */

.popup_block .form input:-moz-placeholder {
  color: #000000;
}
/* Firefox 18- */

.popup_block .form input:-ms-input-placeholder {
  color: #000000;
}
.form input.small {
  margin: 0px 6px;
  width: 130px;
}
.form input.big {
  width: 295px;
}
.form a.btn {
  margin: 20px 0px 0px;
}
.form .boss {
  margin: 20px 0px 10px 105px;
}
.form .boss img {
  margin: 3px 0px 0px 0px;
  float: left;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #ebebeb;
}
.form .boss p {
  margin: 0px;
  padding: 10px 0px 0px 90px;
  font: 16px 'OpenSans Rg', sans-serif;
  color: #000000;
  text-align: left;
}
.form .boss p span {
  font: 16px 'OpenSans Bold', sans-serif;
  text-transform: none;
}



#navigation {
  display: inline-block;
  margin-top: 5px;
  ul {
    list-style: none;
    li {
      padding: 3px 8px;
      cursor: pointer;
      display: inline;
      font-family: OpenSans;
      color: #d0e8f1;
      font-size: 11.248px;
      font-weight: 600;
      line-height: 42px;
      text-align: left;
      text-transform: uppercase;
      border-radius: 4px;
      border: 2px solid #074150;
    }
    li.active {
      color: #41c0f0;
      border: 2px solid #41c0f0;
    }
    li:hover {
      border: 2px solid #d0e8f1;
    }
  }
}

@-moz-document url-prefix() {
  #navigation ul li {
    font-size: 9px;
  }
  section ul.wind1 li.li3 span {
    left: -170px;
    top: -105px;
  }
}

.top-menu {
  position: fixed;
  top: 0px;
  background-color: #074150;
  width: 100%;
  height: 57px;
  z-index: 1000;
}

.configurator-menu {
  background-color: rgb(249, 249, 249);
  border-bottom-color: rgb(232, 232, 232);
  border-top-color: rgb(232, 232, 232);
}

.hasTooltip {
  width: 500px;
}

.hidden {
  display: none;
}

.actionEnd {
  width: 505px;
  text-align: center;
  margin: 0 0 20px 0;
  padding: 0;
}

.learnMoreButton {
  font-family: 'OpenSans Rg', sans-serif !important;
  font-size: 22px !important;
  font-stretch: normal !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  //#marketIcon {
  //  display: none;
  //}
  //#moreIcon {
  //  display: none;
  //}
}

#logoConfig {
  margin-top: 45px;
  z-index: 10;
  background-color: #fff;
}


#toptop {
  margin-top: 55px;
  z-index: 10;
  background-color: #fff;
}

.ui.step, .ui.steps .step {
  font-size: 0.9rem !important;
}

.ui.ordered.steps {
  margin-top: 20px !important;
}

.filterButton {
  width: 110px !important;
}

.climatButton {
  width: 110px !important;
}

i.baseFilter {
  width: 22px !important;
  height: 22px !important;
  margin: 7px 0 0 0 !important;
  padding: 3px 3px;
  line-height: 20px;
  background-color: #ccc;
  border-radius: 20px;
}

i.baseFilter.activate {
  background-color: #54c8ff !important;
  color: #fff !important;
}

.ui.basic.button.inverted.blue.active.filterButton, .ui.basic.button.inverted.blue.active.climatButton {
  color: rgba(0, 0, 0, 0.6) !important;
}

#hepa, #ak {
  height: 51px !important;
}

#withMount {
  height: 40px !important;
  padding-top: 20px !important;
}

#withoutMount {
  padding-top: 30px !important;
  height: 30px !important;
}

#base, #baseHepa, #baseAK, #lite, #liteHepa, #liteAK, #liteHepaAK {
  display: none;
}

.five.wide.column#brizerExample {
  width: 35% !important;
}

.ui.grid .description {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.ui.grid .description.aboutFilter {
  font-size: 15px;
  text-align: justify;
  margin-top: 20px;
}

#brizerExample-sticky-wrapper {
  text-align: left !important;
}

#brizerExample .description{
  width: 330px !important;
  margin-top: 20px;
}

#fixedSteps-sticky-wrapper {
  height: 130px !important;
  text-align: left !important;
  background-color: #fff;
  z-index: 10;
}

#fixedSteps {
  width: 980px !important;
  z-index: 10;
  background-color: #fff;
}

.ui.modal .content {
  width: 93% !important;
  form.ui.form {
    width: 805px !important;
    input[type="text"] {
      height: 18px !important;
    }
    .fields .field {
      margin: 0em 1em 1em !important;
    }
    .fields .field:first-child {
      margin-left: 0em !important;
    }
    .fields .field:last-child {
      margin-right: 0em !important;
    }
  }
}

#createOrder {
  width: 140px !important;
}

section#configTitleSection {
  background-color: #ffffff;
  z-index: 10;
  padding: 30px 0 25px 0 !important;
}

#configTitle-sticky-wrapper.sticky-wrapper.is-sticky {
  height: 90px !important;
}

#recall {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 75px;
  height: 75px;
  background-color: #fff;
  border: 1px solid green;
  border-radius: 60px;
  i {
    font-size: 50px;
    color: green;
  }
}

#navigation.floatedLeft {
  float: left !important;
}
.floatedRight {
  float: right !important;
}

.ui.middle.aligned.divided.list {
  width: 360px !important;
  img {
    border-radius: 0px !important;
  }
}

.item#mountItem {
  display: none;
}

.content#maxWidth {
  width: 100% !important;
}

.withDesc {
  border-bottom: 1px dashed #697DDA;
  cursor: pointer;
}