<div id="page_wrapper">

  <!-- Start Header -->

  <!-- End Header -->

  <section class="container">

    <!-- Start App Info -->
    <div id="app_info">
      <!-- Start Logo -->
      <a href="#home" class="logo">
        <%= image_tag('aeromontazh_logo.png', width: "350px") %>
      </a>
      <!-- End Logo -->
      <span class="tagline">Официальный дилер компании Тион.</span>
      <p>
        Наш город Новосибирск - крупный мегаполис. И никуда не деться от большого количества транспорта и выхлопных газов, пыли и шума за окном, тополиного пуха и аллергенов на улице.
      </p>
      <p>
        Технологии не стоят на месте и наши ученые из Технопарка Новосибирского Академгородка разработали приборы, решающие вышеописанные проблемы. Это компактная приточная вентиляция Бризер Тион О2 и рециркулятор воздуха Тион Clever.
      </p>
      <p>
        Позвольте Вашей семье дышать дома чистым воздухом, наслаждаться крепким и здоровым сном. Мы являемся официальным дилером компании производителя, а также у нас в штате имеются сертифицированные монтажники, которые доставят, установят и научат Вас пользоваться этим маленьким чудом.
      </p>
    </div>
    <!-- End App Info -->

    <!-- Start Pages -->
    <div id="pages">
      <div id="brizers">
        <h1 align="center">Бризер Тион О2</h1>
        <%= image_tag('o2.png') %>
      </div>
      <div id="almaz">
        <h1 align="center">Бризер Тион О2</h1>
        <%= image_tag('o2.png') %>
      </div>

    </div>
    <!-- End Pages -->

    <div class="clear"></div>
  </section>

  <!-- Start Footer -->
  <footer class="container">
    <p>info@aero-montazh.ru &copy;</p>
  </footer>
  <!-- End Footer -->

</div>