<!DOCTYPE html>
<html>
<head>
  <title>АэроМонтаж - Алмазное бурение в Новосибирске и области</title>
  <%= stylesheet_link_tag    'almaznoe_burenie', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="keywords" content="Алмазное сверление, сверление в бетоне, алмазное сверление Новосибирск, алмазное сверление в бетоне Новосибирск, алмазное Бурение, Аэромонтаж, услуги по алмазному сверлению, алмазное сверление от компании Аэромонтаж, aeromontazh">
  <meta name="description" content="Аэромонтаж-приемлимые цены, высокий профессионализм, качественное оборудование, индивидуальный подход к каждому клиенту.">
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
