<!DOCTYPE html>
<html>
<head>
  <title>АэроМонтаж - Система очистки воздуха в Новосибирске и области</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="top-link">

<%= yield %>
<script src="http://fastcallmanager.com/widgets/last/widget.js" code="fd5512e2fbaa2305118fac5e2f21cf65"></script>x`
</body>
</html>
