<!DOCTYPE html>
<html>
<head>
  <title>АэроМонтаж - Система очистки воздуха в Новосибирске и области</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="top-link">

<%= yield %>
<script type="text/javascript" src="//cdn.callbackhunter.com/cbh.js?hunter_code=de4f07b567178c588ccc0a866b555d02" charset="UTF-8"></script>
</body>
</html>
