<!DOCTYPE html>
<html>
<head>
  <title>АэроМонтаж - Tion Magic Air</title>
  <%= stylesheet_link_tag    'magic', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="keywords" content="Tion Magic Air, Tion, Тион, умный микроклимат">
  <meta name="description" content="Tion Magic Air — это система умного микроклимата. Компактный гаджет собирает данные о состоянии воздуха и самостоятельно управляет климатическими бытовыми устройствами (бризер, кондиционер, очиститель, увлажнитель и т.п.)">
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter31941081 = new Ya.Metrika({
          id:31941081,
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
        });
      } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/31941081" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84829364-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
